.wrapper-form {
    width: 400px;
    margin: 0 auto;
}

.wrapper-form h2 {
    text-align: center;
}

.wrapper-form .ant-form-item-explain-error > div {
    float: left;
}

.wrapper-form .ant-form-item-control {
    margin-bottom: .75em;
}

.wrapper-form .login-form-button,
.wrapper-form .login-form-button:hover,
.wrapper-form .login-form-button:focus {
    width: 100%;
    background: #9D429F;
    border-color: #9D429F;
}
